In [1]:
from spotipy.oauth2 import SpotifyClientCredentials
import sys
import spotipy.util as util
import pandas as pd
import random
import requests
import spotipy

List of Countrys Spotify is available

In [2]:
spotify_country_list = [
                        'Ecuador',
                        'France',
                        'Argentina',
                        'Finland',
                        'Norway',
                        'Italy',
                        'Lituania',
                        'Phillipines',
                        'Taiwan',
                        'New Zealand',
                        'Estonia',
                        'Turkey',
                        'United States of America',
                        'El Salvador',
                        'Costa Rica',
                        'Germany',
                        "Chile"
]

#Just wanted to shuffle the countrys didnt have to
shuffledCountrys = random.sample(spotify_country_list, len(spotify_country_list))

In [3]:
spdf = pd.DataFrame({'Countrys': shuffledCountrys })

In [4]:
spdf['lat'] = ''
spdf['lng'] = ''

In [5]:
spdf.head()

      Countrys lat lng
0    Argentina
1       Norway
2      Germany
3       Taiwan
4  Phillipines

Attempting to mine countrys Lat and Lng

In [6]:
response = requests.get('https://maps.googleapis.com/maps/api/geocode/json?address=unitedsates&key=AIzaSyDhe9eoAt6szPA8KW9WPD-aKzmk9KJz-2w')
data = response.json()
data

{'results': [{'address_components': [{'long_name': 'United States',
     'short_name': 'US',
     'types': ['country', 'political']}],
   'formatted_address': 'United States',
   'geometry': {'bounds': {'northeast': {'lat': 71.5388001, 'lng': -66.885417},
     'southwest': {'lat': 18.7763, 'lng': 170.5957}},
    'location': {'lat': 37.09024, 'lng': -95.712891},
    'location_type': 'APPROXIMATE',
    'viewport': {'northeast': {'lat': 49.38, 'lng': -66.94},
     'southwest': {'lat': 25.82, 'lng': -124.39}}},
   'partial_match': True,
   'place_id': 'ChIJCzYy5IS16lQRQrfeQ5K5Oxw',
   'types': ['country', 'political']}],
 'status': 'OK'}

Just testing out the code before execution

In [7]:
new_data = data['results'][0]['geometry']['location']
new_data

{'lat': 37.09024, 'lng': -95.712891}

In [8]:
for index, row in spdf.iterrows():

    country = row["Countrys"]
    target_url = 'https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=AIzaSyDhe9eoAt6szPA8KW9WPD-aKzmk9KJz-2w'% (str(country))
    response = requests.get(target_url).json()
    
    lat = response['results'][0]['geometry']['location']['lat']
    long = response['results'][0]['geometry']['location']['lng']

    spdf.set_value(index, 'lat', lat)
    spdf.set_value(index, 'lng', long)

In [9]:
spdf.head()

      Countrys      lat      lng
0    Argentina -38.4161 -63.6167
1       Norway   60.472  8.46895
2      Germany  51.1657  10.4515
3       Taiwan  23.6978  120.961
4  Phillipines  12.8797  121.774

In [10]:
spdf.to_csv("data/spotify_coordinates.csv")